.vscode/
__mocks__
node_modules/
coverage/
npm-debug.log
.DS_Store
.idea/
modules

src/
lib/__tests__
lib/script.js
lib/script.d.js
lib/cli.d.ts
lib/install.d.ts

tsconfig.json
tslint.json
.gitmessage
.gitignore
